In [4]:
import pandas as pd
import numpy as np

In [6]:
# read csv
df = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\DSPL\dirty_cafe_sales.csv")

In [7]:
#printing no.of samples & attributes
print(df.shape)

(10000, 8)

In [8]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent', 'Payment Method', 'Location', 'Transaction Date']

In [10]:
#printing first five samples
print(df.head())

  Transaction ID    Item Quantity Price Per Unit Total Spent  Payment Method  \
0    TXN_1961373  Coffee        2            2.0         4.0     Credit Card
1    TXN_4977031    Cake        4            3.0        12.0            Cash
2    TXN_4271903  Cookie        4            1.0       ERROR     Credit Card
3    TXN_7034554   Salad        2            5.0        10.0         UNKNOWN
4    TXN_3160411  Coffee        2            2.0         4.0  Digital Wallet

   Location Transaction Date
0  Takeaway       2023-09-08
1  In-store       2023-05-16
2  In-store       2023-07-19
3   UNKNOWN       2023-04-27
4  In-store       2023-06-11

In [11]:
#Describing the dataset 
print(df.describe())

       Transaction ID   Item Quantity Price Per Unit Total Spent  \
count           10000   9667     9862           9821        9827
unique          10000     10        7              8          19
top       TXN_6170729  Juice        5            3.0         6.0
freq                1   1171     2013           2429         979

        Payment Method  Location Transaction Date
count             7421      6735             9841
unique               5         4              367
top     Digital Wallet  Takeaway          UNKNOWN
freq              2291      3022              159

In [14]:
#Checking for null values
print("Missing values distribution: ")
print(df.isnull().sum())

Missing values distribution:
Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [15]:
#Checking for duplicates
print(df.duplicated().any()) 
print(df.duplicated())
print(df.shape)

False
0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool
(10000, 8)

In [ ]:
print("Column datatypes: ")
print(df.dtypes)

Column datatypes:
Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [35]:
# Replacing string values with integers
df["Payment Method"] = df["Payment Method"].replace({
    "Cash": 0,
    "Credit Card": 1,
    "Digital Wallet": 2,
    -1: -1   
})

In [19]:
print(df.dtypes)

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [20]:
# Finding unique values in "Location"
print(df["Location"].unique())

['Takeaway' 'In-store' 'UNKNOWN' nan 'ERROR']

In [32]:


# Replacing invalid strings with NaN
import numpy as np

df = df.replace(["ERROR", "UNKNOWN"], np.nan)

In [22]:
print(df.isnull().sum())

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      2885
Location            3961
Transaction Date     460
dtype: int64

In [23]:
#Converting numeric columns to proper numeric type
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df["Price Per Unit"] = pd.to_numeric(df["Price Per Unit"], errors="coerce")
df["Total Spent"] = pd.to_numeric(df["Total Spent"], errors="coerce")

In [27]:
print("Missing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
Transaction ID         0
Item                 969
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2885
Location            3961
Transaction Date     460
dtype: int64

In [31]:
# Filling missing values using mode
df["Item"] = df["Item"].fillna(df["Item"].mode()[0])
df["Payment Method"] = df["Payment Method"].fillna(df["Payment Method"].mode()[0])
df["Location"] = df["Location"].fillna(df["Location"].mode()[0])
df["Transaction Date"] = df["Transaction Date"].fillna(df["Transaction Date"].mode()[0])

In [29]:
print("Final missing values check after filling:")
print(df.isnull().sum())

print("\nFinal datatypes:")
print(df.dtypes)

Final missing values check after filling:
Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

Final datatypes:
Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit      float64
Total Spent         float64
Payment Method      float64
Location             object
Transaction Date     object
dtype: object

In [30]:
# Save cleaned dataset
df.to_csv("dirty_cafe_sales_cleaned.csv", index=False)

print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!